html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;    
    /* font-family: 'Dosis', sans-serif; */
    color: #262626;
    overflow: hidden;
}

.hamburger {
    padding-right:0;
}

#top-wrapper {
    position: relative;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    overflow: hidden;
}

/* Nav styles */

.fixed {
    background-color: white;
    position: fixed;
    top:0;
    width:100%;
}

#side-nav-shadow {
    background-color: black;
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */   height: calc(var(--vh, 1vh) * 100);
    z-index:99;
    display:none;
}

#side-nav {
    position: fixed;
    z-index: 100;
    right: 0;
    overflow:hidden;
    width: 0;
    background-color: #262626;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */   height: calc(var(--vh, 1vh) * 100);
}

#side-toggle {
    margin: 20px;
    display:none;
    position:absolute;
    right:0;
    float:right;
}

#side-nav-content {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-end;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */   height: calc(var(--vh, 1vh) * 100);
    padding:30px;
}

#side-nav-content div:first-child {
    width:100%;
    text-align:center;
    font-family: 'Architects Daughter', cursive;
    font-size:18px;
    color: rgb(241, 241, 241);
}

#side-nav-content div:first-child i {
    font-size:30px;
    color: rgb(255, 23, 100);
}

#side-nav-footer {
    
}

#side-nav-footer img {
    float:right;
    width: 50%;
    max-width: 200px;
    opacity:0.25;
}

nav {
    height: 70px;
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-logo {
    font-family: 'Architects Daughter', cursive;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

.nav-logo span {
    font-family: 'Bad Script', cursive;
    font-size: 0.5em;
    color: rgb(129, 102, 102);
}

/* Hero styles  */

#hero-wrapper {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */   height: calc(var(--vh, 1vh) * 100);
    padding: 1%;
  
}

#hero-container {
    position: relative;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2% 10%;
    border: 1px solid #c4c4c4;
}

.background-image {
    opacity: 1;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/hero.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


#hero-section div:first-child {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-section div:first-child div i {
    font-size: 24px;
}

section {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    margin-left: -20%;
    height:100%;
    width: 40%;
}

#hero-section {
    top: 0;
}

#about-section {
    top:100%;
}

#info-section {
    top:100%;
}

#contact-section {
    top:100%;
}

.scroll-muted {
    opacity: 0.5;
    text-transform: uppercase;
    font-family: monospace;
    position: relative;
    left: 50%;
    margin-left: -50px;
    width:100px;
    bottom: 50px;
}
/* gradient */

.gradient {
    position:absolute;
    top:0;
    left:0;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */   height: calc(var(--vh, 1vh) * 100);
    width:100vw;
    padding: 1%;
}

.hero-gradient {
    opacity:1;
    background: #b74df9; 
    background: -moz-linear-gradient(-45deg, #b74df9 0%, #cb8af7 0%, #8194eb 50%, #cb8af7 100%); 
    background: -webkit-linear-gradient(-45deg, #b74df9 0%,#cb8af7 0%,#8194eb 50%,#cb8af7 100%); 
    background: linear-gradient(135deg, #b74df9 0%,#cb8af7 0%,#8194eb 50%,#cb8af7 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b74df9', endColorstr='#cb8af7',GradientType=1 );  
}

.about-gradient {
    opacity:0;
    background: #f9d963;
    background: -moz-linear-gradient(-45deg, #f9d963 0%, #a6ef7f 50%, #f9d963 100%);
    background: -webkit-linear-gradient(-45deg, #f9d963 0%,#a6ef7f 50%,#f9d963 100%);
    background: linear-gradient(135deg, #f9d963 0%,#a6ef7f 50%,#f9d963 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d963', endColorstr='#f9d963',GradientType=1 );
}

.info-gradient {
    opacity:0;
    background: #5be5a2;
    background: -moz-linear-gradient(-45deg, #5be5a2 0%, #67b2bf 50%, #5be5a2 100%);
    background: -webkit-linear-gradient(-45deg, #5be5a2 0%,#67b2bf 50%,#5be5a2 100%);
    background: linear-gradient(135deg, #5be5a2 0%,#67b2bf 50%,#5be5a2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5be5a2', endColorstr='#5be5a2',GradientType=1 );
    }

.contact-gradient {
    opacity:0;
    background: #395994;
background: -moz-linear-gradient(-45deg, #395994 0%, #8b42bd 50%, #395994 100%);
background: -webkit-linear-gradient(-45deg, #395994 0%,#8b42bd 50%,#395994 100%);
background: linear-gradient(135deg, #395994 0%,#8b42bd 50%,#395994 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#395994', endColorstr='#395994',GradientType=1 );
}

/* this class is a clever little way I figure out how to
use media queries with jQuery, since the width of the
window in jQuery doesn't always match the width of the media
query in css. this class will color code based on the media query
the css applies to. */


.media-query {
    background-color: red;
}

@media only screen and (max-width : 979px) {
    .media-query {
        background-color: green;
    }
}

@media only screen and (max-width : 767px) {
    .media-query {
        background-color: blue;
    }
    #hero-wrapper {
        padding:3%;
    }
    #side-nav {
        position:absolute;
        right:-80%;
        width: 80%;
    }
    #side-toggle {
        display:block;
    }

    section {
        left: 50%;
        margin-left: -40%;
        height:100%;
        width: 80%;
    }
}

@media only screen and (max-width : 480px) {
    .media-query {
        background-color: purple;
    }

}
